<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        media="screen" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />

</head>

<body>
    <h1>Panneau Administratif</h1>
    <hr class="dashed">

    <div class="Trie">

        <select onchange="search()" name="genre" id="genre-select">
            <option value="">--Filtrer par genre--</option>
            <div th:each="genre : ${genre}">
                <option th:value="${genre.Genre_Id}"><span th:text="${genre.Genre_Titre}"> </span></option>
            </div>
        </select>
        <a href="/create"><button type="button" class="btn btn-primary">Nouveau</button></a>
        <form id="answer" action="" class="example">
            <input type="text" onfocus="this.value=''" placeholder="Chercher un jeu" id="answertext">
            <input type="submit" value="ok">
        </form>
    </div>

    <hr class="dashed">

    <div class="card-group" id="card-to-swap">
        <div th:each="jeux : ${jeux}">
            <div class="card" style="width: 21rem;">
                <img th:src="@{/image/joystick-px.png}" class="card-img-top" alt="img">
                <div class="card-body">
                    <h5 class="card-title"><span th:text="${jeux.Jeux_Titre}"> </span></h5>
                    <p class="card-text"><span th:text="${jeux.Jeux_Description}"> </span></p>
                    <p class="card-text"><span th:text="${jeux.Jeux_Prix}"> </span>€</p>
                    <button type="button" class="btn btn-primary modifButton" data-bs-toggle="modal">Modifier</button>
       
                    <button type="button" class="btn btn-primary supprButton" data-bs-toggle="modal">Supprimer</button>
                    <div id="jeuxModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>Vous êtes sûr ?</p>
                            <button>Oui</button>
                            <button>Non</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/modal.js}"></script>
        <script th:src="@{/js/navbar.js}"></script>
        <script th:src="@{/js/ajaxcard.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
</body>