<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>new</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link th:href="@{/styles/form.css}" rel="stylesheet" />
</head>

<body>
    <div class="container text-center">

        <h1>Nouveau jeux</h1>

        <form method="post" action="#" th:action="@{/success}" th:object="${jeux}">
            <div class="form-group row">
                <label class="col-4 col-form-label">Titre: </label>
                <div class="col-8">
                    <input type="text" th:field="*{Jeux_Titre}" style="width: 15em; height: 2em;" required oninvalid="this.setCustomValidity('Champ obligatoire')"
                    oninput="this.setCustomValidity('')" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Description: </label>
                <div class="col-8">
                    <input type="text" th:field="*{Jeux_Description}" style="width: 15em; height: 2em;" required oninvalid="this.setCustomValidity('Champ obligatoire')"
                    oninput="this.setCustomValidity('')"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Prix: </label>
                <div class="col-8">
                    <input type="text" th:field="*{Jeux_Prix}" style="width: 15em; height: 2em;"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Date de sortie: </label>
                <div class="col-8">
                    <input type="date" th:field="*{Jeux_DateSortie}" style="width: 15em; height: 2em;" required oninvalid="this.setCustomValidity('Champ obligatoire')"
                    oninput="this.setCustomValidity('')"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Pays d'origine: </label>
                <div class="col-8">
                    <input type="text" th:field="*{Jeux_PaysOrigine}" style="width: 15em; height: 2em;" required oninvalid="this.setCustomValidity('Champ obligatoire')"
                    oninput="this.setCustomValidity('')"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Connexion: </label>
                <div class="col-8">
                    <input type="text" th:field="*{Jeux_Connexion}" style="width: 15em; height: 2em;" required oninvalid="this.setCustomValidity('Champ obligatoire')"
                    oninput="this.setCustomValidity('')"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Mode jeux: </label>
                <div class="col-8">
                    <input type="text" th:field="*{Jeux_Mode}" style="width: 15em; height: 2em;" required oninvalid="this.setCustomValidity('Champ obligatoire')"
                    oninput="this.setCustomValidity('')"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Selectionner un genre</label>
                <div class="col-8">
                    <select th:field="*{Genre_Id}" style="width: 15em; height: 2em;">
                        <option th:each="genre : ${genre}" th:value="${genre.Genre_Id}"
                            th:text="${genre.Genre_Titre}" />
                    </select>
                </div>
            </div>

            <div>
                <INPUT TYPE=SUBMIT VALUE="Valider" style="width: 7em; height: 2em;">
                <input type="reset" value="Annuler" style="width: 8em; height: 2em;" />
            </div>

        </form>
    </div>
</body>