<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mes Jeux</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        media="screen" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<h1>New Game</h1>

<body>
    <form method=post action="#" th:action="@{/newJeux}" th:object="${jeux}">

        <p>Titre: <input type="text" th:field="*{Jeux_Titre}"/></p>

        <p>Description: <input type="text" th:field="*{Jeux_Description}"/></p>

        <p>Prix: <input type="text" th:field="*{Jeux_Prix}"/></p>
        
        <p>Date de sortie: <input type="date" th:field="*{Jeux_DateSortie}"/></p>

        <p>Pays d'origine: <input type="text" th:field="*{Jeux_PaysOrigine}"/></p>

        <p>Connexion: <input type="text" th:field="*{Jeux_Connexion}"/></p>

        <p>Mode jeux: <input type="text" th:field="*{Jeux_Mode}"/></p>

        <p><select onchange="search()" name="genre" id="genre-select">
            <option value="">--Selectionner un genre--</option>
            <div th:each="genre : ${genre}">
                <option th:value="${genre.Genre_Id}"><span th:text="${genre.Genre_Titre}"> </span></option>
            </div>
        </select></p>

        <div>
            <INPUT TYPE=SUBMIT VALUE="Valider"></a> <input type="reset" value="Annuler" />
        </div>
    </form>
</body>
</html>